* { margin: 0; padding: 0; }

ul {
  list-style: none;
  height: calc(100vh - 200px);
  overflow-y: scroll;
}

.messages li .message-content { width: 60%; }

.messages .me {
  display: flex;
  justify-content: flex-end;
}

input { background: #EEEEEE !important; }